
<%= notice %>

<%= render 'search/form' %>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="box">
    <%= render post %>
    <p><%= button_to "Show this post", post, method: :get, type: :button, class: "button is-fullwidth" %></p>
    </div>
  <% end %>

  <% if user_signed_in? %>
  <p><%= button_to "New post", new_post_path, method: :get, type: :button, class: "button" %></p>
 <% end %>
</div>

<%= paginate @posts %>